.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  align-items: center;
  gap: 1rem; }
  .profile__image {
    border-radius: 50%;
    width: 200px;
    height: 200px; }
  .profile__link {
    border: 2px solid #7562E0;
    margin-bottom: 25px;
    border-radius: 100px;
    height: auto;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    padding: 25px; }
    .profile__link:visited {
      color: inherit; }
    .profile__link:hover {
      box-shadow: 0px 0px 30px rgba(117, 98, 224, 0.3); }
    .profile__link:active {
      box-shadow: none; }
